
@font-face {
	font-family:'Ubuntu-Conv-light';
	src: url('Ubuntu-Light_gdi.eot');
	src: url('Ubuntu-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Light_gdi.woff') format('woff'),
		url('Ubuntu-Light_gdi.ttf') format('truetype'),
		url('Ubuntu-Light_gdi.svg#Ubuntu-Light') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}


@font-face {
	font-family:'Ubuntu-Conv';
	src: url('Ubuntu_gdi.eot');
	src: url('Ubuntu_gdi.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu_gdi.woff') format('woff'),
		url('Ubuntu_gdi.ttf') format('truetype'),
		url('Ubuntu_gdi.svg#Ubuntu-Regular') format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}


@font-face {
	font-family:'Ubuntu-Conv';
	src: url('Ubuntu-Medium_gdi.eot');
	src: url('Ubuntu-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('Ubuntu-Medium_gdi.woff') format('woff'),
		url('Ubuntu-Medium_gdi.ttf') format('truetype'),
		url('Ubuntu-Medium_gdi.svg#Ubuntu-Medium') format('svg');
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0008-25CA;
}


@font-face {
	font-family:'OpenSansRegular-Regular';
	src: url('OpenSansRegular_gdi.eot');
	src: url('OpenSansRegular_gdi.eot?#iefix') format('embedded-opentype'),
		url('OpenSansRegular_gdi.woff') format('woff'),
		url('OpenSansRegular_gdi.ttf') format('truetype'),
		url('OpenSansRegular_gdi.svg#OpenSansRegular-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

/* new fonts from 5.05.2016 */

@font-face {
	font-family:'Solomon-Sans-Normal';
	src: url('Solomon-Sans-Normal_gdi.eot');
	src: url('Solomon-Sans-Normal_gdi.eot?#iefix') format('embedded-opentype'),
		url('Solomon-Sans-Normal_gdi.woff') format('woff'),
		url('Solomon-Sans-Normal_gdi.ttf') format('truetype'),
		url('Solomon-Sans-Normal_gdi.svg#Solomon-Sans-Normal') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'Solomon-Sans-Light';
	src: url('Solomon-Sans-Light_gdi.eot');
	src: url('Solomon-Sans-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('Solomon-Sans-Light_gdi.woff') format('woff'),
		url('Solomon-Sans-Light_gdi.ttf') format('truetype'),
		url('Solomon-Sans-Light_gdi.svg#Solomon-Sans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}