/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#swipebox-slider {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
  left: 0;
  height: calc(100% - 140px);
  top: 50px;
/*  height: 100%;
  top: 0;*/  
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;/*
  cursor: pointer;*/  
}
/*
.single-post #swipebox-slider {
    height: calc(100% - 100px);
}
.single-post #swipebox-share {
	display: none;
}
*/
.hidden-panels #swipebox-slider {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-slider .slide-loading {
  background: url(../img/loader.gif) no-repeat center center;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 100px;
  width: 100%;
}

#swipebox-bottom-bar {
  bottom: -100px;
}
#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

#swipebox-top-bar {
  top: 50%;
}
#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}
.mobiled #swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 66px, 0);
          transform: translate3d(0, 66px, 0);  
}

#swipebox-title {
  top: 20px;
  left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-style: normal;
	font-family:'Ubuntu-Conv';
  color: #fff;
}

#swipebox-share {
    position: absolute;
    top: 38px;
    left: 50%;
    width: 270px;
    margin-left: -135px;
    text-align: center;
}

#swipebox-close {
	width: 17px;
	height: 15px;
	top: 0;
	cursor: pointer;
	position: relative;
}
.close{
	fill: #ffffff;
	width: 17px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
  -webkit-transition: fill .3s ease;
          transition: fill .3s ease;
}
#swipebox-close:hover .close{
	fill: #e77983;
}
#swipebox-prev{
	left: 38px;
}
#swipebox-next {
	right: 38px;
}
#swipebox-prev,
#swipebox-next {
	width: 57px;
	height: 57px;
	position: absolute;
	top: 50%;
	margin-top: -28px;
	border: 1px solid #fff;
}

.desctoped #swipebox-prev:not(.disabled),
.desctoped #swipebox-next:not(.disabled) {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;	
}
.desctoped #swipebox-prev:not(.disabled):hover,
.desctoped #swipebox-next:not(.disabled):hover {
	border-color: #e77983;
	cursor: pointer;
}
.desctoped #swipebox-prev:not(.disabled):hover .slider-arrow-left,
.desctoped #swipebox-next:not(.disabled):hover .slider-arrow-right{
	fill: #e77983;
}
.desctoped #swipebox-prev:not(.disabled) .slider-arrow-left,
.desctoped #swipebox-next:not(.disabled) .slider-arrow-right{
	-webkit-animation-name: 'pulse_animation2';
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	
}

#swipebox-close {
  top: 20px;
  right: 30px;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}

#swipebox-counter {
	width: 57px;
	height: 57px;
	position: absolute;
	right: 0;
	top: 50%;
	color: #fff;
	margin-top: 45px;
	text-align: right;
	font-size: 18px;
	font-style: normal;
	font-family:'Ubuntu-Conv';
}

.swipebox-no-close-button #swipebox-close {
  display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
          animation: rightSpring 0.3s;
}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
          animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
.swipebox-touch #swipebox-container:before {
  left: 0;
  -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
          box-shadow: inset 10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-container:after {
  right: 0;
  -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
          box-shadow: inset -10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}

@keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
	#swipebox-close {
		right: 37px;
	}
	
	#swipebox-counter {
		right: 38px;
	}

	#swipebox-prev {
		left: 38px;
	}
	#swipebox-next {
		right: 38px;
	}
	
/*	#swipebox-overlay {
		padding: 27px 0 140px;
	}
*/
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: rgba(0,0,0,.86);
}

#swipebox-bottom-bar,
#swipebox-top-bar {
	color: #fff;
}

#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}


/*for mobile devices */

.mobiled #swipebox-slider {
  height: 100%;
  top: 0;
}
.mobiled #swipebox-top-bar {
  top: -80px;
  /*background-color: rgba(0,0,0,.7);*/
}
.mobiled #swipebox-close {
  right: 21px;
  top: 45px;  
}
.mobiled #swipebox-share {
  left: 21px;
  right: auto;
  text-align: left;
}
.mobiled #swipebox-title {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    height: 34px;
    top: 36px ;
    white-space: nowrap;
    padding: 0 40px;
}
.mobiled #swipebox-counter {
    width: 100%;
    height: 57px;
    top: 34px;
    margin-top: 0;
    text-align: center;
    position: absolute;
}

#swipebox-counter-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  background-image: url('../img/swipebox-counter.svg');
  -webkit-background-size: 22px 22px;
  background-size: 22px 22px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.mobiled #swipebox-prev, 
.mobiled #swipebox-next {
  border: none;
  -webkit-background-size: 16px 30px;
  background-size: 16px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/swipebox-arrow.svg') !important;
  z-index: 1000;
  margin-top: -24px;
}
.mobiled #swipebox-prev {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  left: 11px;
}
.mobiled #swipebox-next {
  right: 11px;
}

.mobiled #swipebox-bottom-bar {
  height: 90px;
  /*background-color: rgba(0,0,0,.7);*/
}

.mobiled #swipebox-bottom-bar .Aligner {
  height: 90px;
}

@media all and (max-width: 640px){
  .mobiled #swipebox-share {
      left: 5px;
      top: 26px;
  }

  .mobiled #swipebox-close {
      top: 38px;
      right: 14px;
  }
  .mobiled #swipebox-prev,
  .mobiled #swipebox-next {
    -webkit-background-size: 10px 20px;
    background-size: 10px 20px;
    margin-top: -7px;
  }
  .mobiled #swipebox-prev { left: -9px; }
  .mobiled #swipebox-next { right: -9px; }

  .mobiled #swipebox-top-bar {
    height: 80px;
  }

  .mobiled #swipebox-counter {
    top: 51px;
  }

  .mobiled #swipebox-title {
      top: 34px;
      font-size: 17px;
  }

}

@media (max-height: 480px) {
/*	#swipebox-bottom-bar, #swipebox-top-bar {
		height: 40px;
	}
	#swipebox-title {
		margin-top: 0 !important;
		font-size: 17px;
	}
	#swipebox-slider {
		height: calc(100% - 50px);
		top: 0;
	}*/
}